[Interface]
Address = {{ wg.address | join(', ') }}
{% if wg.listen_port | default('') %}
ListenPort = {{ wg.listen_port }}
{% endif %}
PrivateKey = {{ wireguard_private_keys[wg.interface] }}
{% for peer in wg.peers | default([]) if (peer.public_key | default('')) | length == 44 %}

# {{ peer.name | default('peer') }}
[Peer]
PublicKey = {{ peer.public_key }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips | join(', ') }}
{% if peer.persistent_keepalive is defined %}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif %}
{% endfor %}
